/* ----------------Basic css----------------*/
/* ----------------Top Header----------------*/
.header-top, #pricing-area .single-pricing:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#aaaaff), to(#fcbaf8));
  background-image: linear-gradient(0deg, #aaaaff 0%, #fcbaf8 100%);
}

.header-top, #pricing-area .single-pricing:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#aaaaff), to(#fcbaf8));
  background-image: linear-gradient(0deg, #aaaaff 0%, #fcbaf8 100%);
}

.header-top .header-info {
  padding: 12px 0;
}

.header-top .header-info ul {
  margin: 0;
  padding: 0;
}

.header-top .header-info ul li {
  display: inline-block;
  color: #fff;
  margin-right: 32px;
  font-weight: bold;
}

.header-top .header-info ul li i {
  color: #fff;
  margin-right: 12px;
}

.header-top .header-top-social {
  padding: 12px 0;
}

.header-top .header-top-social span {
  color: #fff;
  border-right: 2px solid #fff;
  padding-right: 11px;
  font-weight: bold;
}

.header-top .header-top-social ul {
  margin: 0;
  padding: 0;
  float: right;
}

.header-top .header-top-social ul li {
  display: inline-block;
}

.header-top .header-top-social ul li a {
  display: block;
  color: #fff;
  margin-right: 7px;
}

.header-area {
  padding: 30px;
}

.header-area .menu-area nav ul {
  list-style: none;
}

.header-area .menu-area nav ul li {
  display: inline-block;
}

.header-area .menu-area nav ul li a {
  color: #000;
  text-decoration: none;
  margin-right: 35px;
  text-transform: uppercase;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  display: block;
  font-weight: bold;
}

.header-area .menu-area nav ul li a:hover {
  color: #fac0f9;
}

.header-right .header-cartarea {
  position: relative;
}

.header-right .header-cartarea a {
  color: #000;
  text-decoration: none;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.header-right .header-cartarea a:hover {
  color: #fac0f9;
}

.header-right .header-cartarea a a#dropdownMenuLink:after {
  display: none;
}

.header-right .header-cartarea ul.header-cart {
  right: 0;
  width: 350px;
  left: auto !important;
  transform: translate(10px, 10px) !important;
  -webkit-box-shadow: 0px 20px 46px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0px 20px 46px 0 rgba(0, 0, 0, 0.15);
  -webkit-transform: translate(10px, 10px) !important;
  -moz-transform: translate(10px, 10px) !important;
  -ms-transform: translate(10px, 10px) !important;
  -o-transform: translate(10px, 10px) !important;
}

section.slider-area {
  overflow: hidden;
}

section.slider-area .slider-inner-wrap .slide-item img {
  width: 100%;
  height: 500px;
  position: relative;
  background-color: #ccc;
}

section.slider-area .slider-inner-wrap .slide-item .slide-content {
  position: absolute;
  top: 24%;
  background: rgba(0, 0, 0, 0.5);
  padding: 46px 54px;
  color: #fff;
  left: 16%;
}

section.slider-area .slider-inner-wrap .slick-dots {
  bottom: 16px;
}

/* ------------service area---------------*/
#service-area .service-title h3, #why-choose .service-title h3, #pricing-area .service-title h3, #gallery-area .service-title h2, #appointment-area .appointment-init .service-title h2, #blog-area .service-title h2 {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  font-weight: 500;
  color: #000;
  padding-bottom: 30px;
  position: relative;
}

#service-area .service-title h3:after, #why-choose .service-title h3:after, #pricing-area .service-title h3:after, #gallery-area .service-title h2:after, #appointment-area .appointment-init .service-title h2:after, #blog-area .service-title h2:after {
  content: "";
  width: 38px;
  height: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#aaaaff), to(#fcbaf8));
  background-image: linear-gradient(0deg, #aaaaff 0%, #fcbaf8 100%);
  top: 100%;
  position: absolute;
  left: 50%;
  margin-left: -19px;
}

#service-area {
  padding: 70px 0;
}

#service-area .service-title {
  margin-bottom: 90px;
}

#service-area .service-title p {
  margin-top: 30px;
}

#service-area .active-services {
  overflow: hidden;
  margin: 0 auto;
}

#service-area .active-services .single-service {
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  float: left;
  width: 245px;
}

#service-area .active-services .single-service .service-image {
  position: relative;
  left: 37px;
}

#service-area .active-services .single-service .service-image a img {
  width: 200px;
  height: 200px;
  background: #ccc;
  display: block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#service-area .active-services .single-service .service-image .service-btn {
  position: absolute;
  bottom: 50%;
  left: 41%;
  transform: translate(-64%, 60%);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#aaaaff), to(#fcbaf8));
  background-image: linear-gradient(0deg, #aaaaff 0%, #fcbaf8 100%);
  border-radius: 11px;
  -webkit-transform: translate(-64%, 60%);
  -moz-transform: translate(-64%, 60%);
  -ms-transform: translate(-64%, 60%);
  -o-transform: translate(-64%, 60%);
}

#service-area .active-services .single-service .service-image .service-btn a {
  font-weight: 600;
  font-size: 15px;
}

#service-area .active-services .single-service .service-content {
  margin-top: 24px;
}

#service-area .active-services .single-service .service-content h3 {
  margin-bottom: 0;
  font-family: serif;
}

/*----------------why choose us area -------------------*/
#service-area .service-title h3, #why-choose .service-title h3, #pricing-area .service-title h3, #gallery-area .service-title h2, #appointment-area .appointment-init .service-title h2, #blog-area .service-title h2 {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  font-weight: 500;
  color: #000;
  padding-bottom: 30px;
  position: relative;
}

#service-area .service-title h3:after, #why-choose .service-title h3:after, #pricing-area .service-title h3:after, #gallery-area .service-title h2:after, #appointment-area .appointment-init .service-title h2:after, #blog-area .service-title h2:after {
  content: "";
  width: 38px;
  height: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#aaaaff), to(#fcbaf8));
  background-image: linear-gradient(0deg, #aaaaff 0%, #fcbaf8 100%);
  top: 100%;
  position: absolute;
  left: 50%;
  margin-left: -19px;
}

#why-choose {
  padding: 100px 0;
  background-color: #f5f5f9;
}

#why-choose .service-title {
  margin-bottom: 100px;
}

#why-choose .service-title p {
  margin-top: 29px;
}

#why-choose .choose-img img {
  width: 100%;
  height: 472px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#aaaaff), to(#fcbaf8));
  background-image: linear-gradient(0deg, #aaaaff 0%, #fcbaf8 100%);
  display: block;
  position: relative;
}

#why-choose .choose-img .choose-nmb span {
  font-weight: 600;
  font-size: 45px;
  color: #000;
  font-family: serif;
  position: absolute;
  bottom: 50%;
  left: 50%;
  margin-left: -79px;
  margin-bottom: -33.5px;
}

#why-choose .choose-wrapper {
  margin-left: 30px;
}

#why-choose .choose-wrapper .why-choose-content {
  padding-top: 60px;
}

#why-choose .choose-wrapper .why-choose-content h3 {
  font-size: 24px;
  line-height: 27px;
  font-weight: 800;
  margin-bottom: 20px;
  font-family: serif;
}

#why-choose .choose-wrapper .why-choose-content ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#why-choose .choose-wrapper .why-choose-content ul li {
  font-family: serif;
}

#why-choose .choose-wrapper .why-choose-content ul li i {
  margin-right: 10px;
  color: greenyellow;
}

#why-choose .choose-wrapper .why-choose-counter {
  margin-top: 30px;
}

#why-choose .choose-wrapper .why-choose-counter ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 35px;
}

#why-choose .choose-wrapper .why-choose-counter ul li {
  font-family: serif;
  font-weight: bold;
  font-size: 20px;
}

#why-choose .choose-wrapper .why-choose-counter ul li span {
  font-family: serif;
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  background: -webkit-linear-gradient(#aaaaff, #fcbaf8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#why-choose .choose-wrapper .choose-btn a {
  background: -webkit-gradient(linear, left top, left bottom, from(#aaaaff), to(#fcbaf8));
  background: linear-gradient(#aaaaff, #fcbaf8);
  border: 0;
  padding: 17px 31px;
  font-weight: 500;
}

#why-choose .choose-wrapper .choose-btn a i {
  margin-right: 8px;
  color: #fff;
}

/*----------------pricing  area -------------------*/
.header-top, #pricing-area .single-pricing:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#aaaaff), to(#fcbaf8));
  background-image: linear-gradient(0deg, #aaaaff 0%, #fcbaf8 100%);
}

#service-area .service-title h3, #why-choose .service-title h3, #pricing-area .service-title h3, #gallery-area .service-title h2, #appointment-area .appointment-init .service-title h2, #blog-area .service-title h2 {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  font-weight: 500;
  color: #000;
  padding-bottom: 30px;
  position: relative;
}

#service-area .service-title h3:after, #why-choose .service-title h3:after, #pricing-area .service-title h3:after, #gallery-area .service-title h2:after, #appointment-area .appointment-init .service-title h2:after, #blog-area .service-title h2:after {
  content: "";
  width: 38px;
  height: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#aaaaff), to(#fcbaf8));
  background-image: linear-gradient(0deg, #aaaaff 0%, #fcbaf8 100%);
  top: 100%;
  position: absolute;
  left: 50%;
  margin-left: -19px;
}

#pricing-area {
  padding: 100px 0;
}

#pricing-area .service-title {
  margin-bottom: 70px;
}

#pricing-area .service-title h3 {
  margin-bottom: 37px;
}

#pricing-area .single-pricing {
  background: #f5f5f9;
  border-top-left-radius: 125px;
  border-top-right-radius: 125px;
  border-bottom: 10px;
  padding: 10px;
  -webkit-transition: 2s;
  transition: 2s;
  margin-top: 55px;
  min-height: 625px;
}

#pricing-area .single-pricing .single-image {
  position: relative;
}

#pricing-area .single-pricing .single-image img {
  width: 100%;
  border-radius: 50%;
  background: -webkit-gradient(linear, left bottom, left top, from(#aaaaff), to(#fcbaf8));
  background: linear-gradient(0deg, #aaaaff 0%, #fcbaf8 100%);
  height: 227px;
  display: block;
}

#pricing-area .single-pricing .single-image img::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border: 10px solid #fff;
  border-radius: 50%;
}

#pricing-area .single-pricing:hover {
  cursor: pointer;
}

#pricing-area .single-pricing .pricing-content {
  margin-top: 35px;
}

#pricing-area .single-pricing .pricing-content h3 {
  font-family: serif;
}

#pricing-area .single-pricing .pricing-content span {
  margin-bottom: 22px;
  display: block;
  font-family: serif;
  font-weight: 600;
  font-style: italic;
  font-size: 21px;
}

#pricing-area .single-pricing .pricing-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#pricing-area .single-pricing .pricing-content ul li {
  font-family: serif;
}

#pricing-area .single-pricing .pricing-content a {
  font-family: serif;
  display: inline-block;
  margin-top: 75px;
  -webkit-transition: .3s;
  transition: .3s;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, from(#aaaaff), to(#fcbaf8));
  background: linear-gradient(#aaaaff, #fcbaf8);
  padding: 17px 30px;
  border-radius: 11px;
}

#pricing-area .single-pricing .pricing-content a:hover {
  text-decoration: none;
}

/*----------------gallery  area -------------------*/
.header-top, #pricing-area .single-pricing:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#aaaaff), to(#fcbaf8));
  background-image: linear-gradient(0deg, #aaaaff 0%, #fcbaf8 100%);
}

#service-area .service-title h3, #why-choose .service-title h3, #pricing-area .service-title h3, #gallery-area .service-title h2, #appointment-area .appointment-init .service-title h2, #blog-area .service-title h2 {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  font-weight: 500;
  color: #000;
  padding-bottom: 30px;
  position: relative;
}

#service-area .service-title h3:after, #why-choose .service-title h3:after, #pricing-area .service-title h3:after, #gallery-area .service-title h2:after, #appointment-area .appointment-init .service-title h2:after, #blog-area .service-title h2:after {
  content: "";
  width: 38px;
  height: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#aaaaff), to(#fcbaf8));
  background-image: linear-gradient(0deg, #aaaaff 0%, #fcbaf8 100%);
  top: 100%;
  position: absolute;
  left: 50%;
  margin-left: -19px;
}

#gallery-area {
  padding: 100px 0;
  background: #eee;
  overflow: hidden;
}

#gallery-area .service-title {
  margin-bottom: 70px;
}

#gallery-area .service-title span {
  font-family: serif;
  font-style: italic;
  font-weight: bold;
  font-size: 21px;
}

#gallery-area .service-title h2 {
  font-family: serif;
  margin-bottom: 37px;
}

#gallery-area .gallery-unit {
  border: 1px solid #eee;
  position: relative;
}

#gallery-area .gallery-unit .gallery-img {
  position: relative;
}

#gallery-area .gallery-unit .gallery-img img {
  width: 100%;
  height: 200px;
  display: block;
  background: -webkit-gradient(linear, left bottom, left top, from(#aaaaff), to(#fcbaf8));
  background: linear-gradient(0deg, #aaaaff 0%, #fcbaf8 100%);
}

#gallery-area .gallery-unit .gallery-content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  right: 0;
  text-align: center;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
}

#gallery-area .gallery-unit .gallery-content .gallery-icon {
  margin-bottom: 25px;
}

#gallery-area .gallery-unit .gallery-content .gallery-icon i {
  color: ivory;
  width: 50px;
  font-size: 18px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: inline-block;
  text-align: center;
  padding: 15px;
  margin: 0 1px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  background-color: blue;
}

#gallery-area .gallery-unit .gallery-content h3 {
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  font-weight: 600;
}

#gallery-area .gallery-unit .gallery-content span {
  color: #fff;
}

#gallery-area:hover .gallery-content {
  opacity: 1;
  visibility: visible;
}

.header-top, #pricing-area .single-pricing:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#aaaaff), to(#fcbaf8));
  background-image: linear-gradient(0deg, #aaaaff 0%, #fcbaf8 100%);
}

#service-area .service-title h3, #why-choose .service-title h3, #pricing-area .service-title h3, #gallery-area .service-title h2, #appointment-area .appointment-init .service-title h2, #blog-area .service-title h2 {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  font-weight: 500;
  color: #000;
  padding-bottom: 30px;
  position: relative;
}

#service-area .service-title h3:after, #why-choose .service-title h3:after, #pricing-area .service-title h3:after, #gallery-area .service-title h2:after, #appointment-area .appointment-init .service-title h2:after, #blog-area .service-title h2:after {
  content: "";
  width: 38px;
  height: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#aaaaff), to(#fcbaf8));
  background-image: linear-gradient(0deg, #aaaaff 0%, #fcbaf8 100%);
  top: 100%;
  position: absolute;
  left: 50%;
  margin-left: -19px;
}

#appointment-area {
  padding: 100px 0;
}

#appointment-area .appoint-img img {
  width: 100%;
  height: 400px;
  background: -webkit-gradient(linear, left bottom, left top, from(#aaaaff), to(#fcbaf8));
  background: linear-gradient(0deg, #aaaaff 0%, #fcbaf8 100%);
  display: block;
}

#appointment-area .appointment-init {
  padding-top: 82px;
}

#appointment-area .appointment-init .service-title span {
  font-family: serif;
}

#appointment-area .appointment-init .service-title h2 {
  font-family: serif;
}

#appointment-area .appointment-init .appointment-content {
  margin-top: 30px;
}

#appointment-area .appointment-init .appointment-content h2 {
  font-size: 31px;
  font-family: serif;
  font-weight: bold;
}

#appointment-area .appointment-init .appointment-content p {
  font-family: serif;
}

#appointment-area .appointment-init .appointment-content a {
  font-family: serif;
  background: -webkit-gradient(linear, left bottom, left top, from(#aaaaff), to(#fcbaf8));
  background: linear-gradient(0deg, #aaaaff 0%, #fcbaf8 100%);
  color: #fff;
  border: 0;
  padding: 15px 20px;
  font-weight: bold;
  margin-top: 15px;
}

/*----------testimonial---------------*/
#testimonial-area {
  padding: 80px 0;
  background: #eee;
}

#testimonial-area .testimonial-init .testi-icon i {
  color: #999;
  margin-bottom: 27px;
  font-size: 31px;
}

#testimonial-area .testimonial-init .testi-content p {
  font-family: serif;
}

#testimonial-area .testimonial-init .testi-review span {
  font-family: serif;
  font-weight: bold;
  position: relative;
}

#testimonial-area .testimonial-init .testi-review span::after {
  position: absolute;
  content: '\f005 \f005 \f005 \f005 \f005';
  font-family: 'Font Awesome 5 Free';
  color: #eddb13;
  margin-left: 7px;
}

#testimonial-area .testimonial-init .testi-review p {
  font-family: serif;
}

#testimonial-area .testimonial-imges {
  width: 390px;
  margin: 0 auto;
  padding-top: 30px;
}

#testimonial-area .testimonial-imges .item img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  background: #999;
  display: block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/*-------------------blog area------------*/
#service-area .service-title h3, #why-choose .service-title h3, #pricing-area .service-title h3, #gallery-area .service-title h2, #appointment-area .appointment-init .service-title h2, #blog-area .service-title h2 {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  font-weight: 500;
  color: #000;
  padding-bottom: 30px;
  position: relative;
}

#service-area .service-title h3:after, #why-choose .service-title h3:after, #pricing-area .service-title h3:after, #gallery-area .service-title h2:after, #appointment-area .appointment-init .service-title h2:after, #blog-area .service-title h2:after {
  content: "";
  width: 38px;
  height: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#aaaaff), to(#fcbaf8));
  background-image: linear-gradient(0deg, #aaaaff 0%, #fcbaf8 100%);
  top: 100%;
  position: absolute;
  left: 50%;
  margin-left: -19px;
}

#blog-area {
  padding: 80px 0;
}

#blog-area .service-title {
  margin-bottom: 58px;
}

#blog-area .service-title span {
  font-family: serif;
  font-weight: bold;
}

#blog-area .service-title h2 {
  font-family: serif;
}

#blog-area .blog-wrapper .blog-image a img {
  width: 100%;
  height: 217px;
  display: block;
  background: #ddd;
}

#blog-area .blog-wrapper .blog-content {
  width: 100%;
  -webkit-box-shadow: 0 6px 11px 0 #f0f2eb;
          box-shadow: 0 6px 11px 0 #f0f2eb;
  padding: 33px 28px;
  border: 1px solid #f0f2eb;
}

#blog-area .blog-wrapper .blog-content .blog-cat a {
  font-family: serif;
}

#blog-area .blog-wrapper .blog-content h2 a {
  font-family: serif;
  font-size: 19px;
  color: #000;
  font-weight: bold;
}

#blog-area .blog-wrapper .blog-content .blog-author {
  float: left;
  margin-right: 10px;
}

#blog-area .blog-wrapper .blog-content .blog-author span {
  font-family: serif;
}

#blog-area .blog-wrapper .blog-content .blog-date span {
  font-family: serif;
}

/*-----------------------footer--------------------*/
footer {
  background: -webkit-gradient(linear, left bottom, left top, from(#aaaaff), to(#fcbaf8));
  background: linear-gradient(0deg, #aaaaff 0%, #fcbaf8 100%);
  position: relative;
  /* button navigate top*/
}

footer .footer-area {
  padding: 80px 0;
  border-bottom: 1px solid #ddd;
}

footer .footer-area .footer-widget h4 {
  margin-bottom: 30px;
}

footer .footer-area .footer-widget .logo img {
  width: 150px;
  margin-bottom: 20px;
}

footer .footer-area .footer-widget span {
  font-family: serif;
}

footer .footer-area .footer-widget .footer-social ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer .footer-area .footer-widget .footer-social ul li {
  display: inline-block;
}

footer .footer-area .footer-widget .footer-social ul li a i {
  color: #C71585;
}

footer .footer-area .footer-widget h4 {
  font-family: serif;
}

footer .copyright {
  padding: 25px 0;
}

footer .copyright span {
  font-family: serif;
}

footer .copyright .footer-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer .copyright .footer-menu ul li {
  display: inline-block;
}

footer .copyright .footer-menu ul li:last-child a {
  margin-right: 0px;
}

footer .copyright .footer-menu ul li a {
  display: block;
  font-family: serif;
  color: #000;
  margin-right: 14px;
}

footer #buttonTop {
  position: fixed;
  right: 25px;
  bottom: 16px;
  background: #C71585;
  padding: 10px 15px;
  border-radius: 50%;
}

footer #buttonTop a i {
  color: #fff;
}

.footer-two ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-two ul li {
  display: inline-block;
}

.footer-two ul li span {
  font-family: serif;
}

.footer-two ul li a {
  font-family: serif;
  display: block;
  color: #000;
}

.footer-three form {
  margin-bottom: 20px;
}

.footer-three form input {
  border: 0;
  padding: 7px 9px;
  width: 100%;
  position: relative;
}

.footer-three form button {
  position: absolute;
  right: 15px;
  padding: 7px 9px;
  border: 0;
  font-family: serif;
}

.footer-four .instagram ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-four .instagram ul li {
  display: inline-block;
}

.footer-four .instagram ul li a {
  display: block;
}

.footer-four .instagram ul li a img {
  width: 80px;
  height: 80px;
  display: block;
  background: mediumvioletred;
}

/* cart dropdown */
ul.dropdown-menu.header-cart.show li {
  border-bottom: 1px solid #eee;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
}

ul.dropdown-menu.header-cart.show li:first-child {
  margin-top: 25px;
}

ul.dropdown-menu.header-cart.show li:last-child {
  border-bottom: 0;
}

ul.dropdown-menu.header-cart.show li a {
  background: -webkit-gradient(linear, left bottom, left top, from(#aaaaff), to(#fcbaf8));
  background: linear-gradient(0deg, #aaaaff 0%, #fcbaf8 100%);
  border: 0;
  font-weight: bold;
  margin-bottom: 10px;
}

ul.dropdown-menu.header-cart.show li a :last-child {
  margin-bottom: 0px;
}
/*# sourceMappingURL=style.css.map */